.container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navMenu {
  display: flex;
  list-style: none;
  padding: 20px 30px;
  gap: 15px;
}

.navBtn {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.navBtnActive {
  color: rgb(255, 61, 94);
}
